{% extends 'base.html'  %}


{% block content %}

    <section class="section">
        <div class="container">
            <div class="column">
                
                    <form method="POST">
                    
                            <div class="form">
                                <input class="input" name="city" type="text" placeholder="City Name">
                            </div>
                            <div class="form">
                                <button class="btn btn-primary">
                                    Add City
                                </button>
                            </div>
                      
                    </form>
                
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
               
                    {% for weather in weathers %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° F</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{{ url_for('delete_city', name=weather.city) }}">
                                    <button class="delete">X</button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                
            </div>
        </div>
    </section>

    {% endblock %}
